<launch>
  <!-- Debug Info -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- launch real UR5 -->
<!-- 	<include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
		<arg name="robot_ip" value="172.22.22.2" />
	</include> -->

  <!-- Realsense R200 -->
  <include file="$(find realsense_camera)/launch/r200_nodelet_rgbd.launch"/>

  <!-- args for aruco -->
  <arg name="cub_id1"         default="1"/>
  <arg name="cub_id2"         default="2"/>
  <arg name="cub_id3"         default="3"/>
  <arg name="dest_id"         default="4"/>

  <arg name="markerSize"        default="0.03"/>    <!-- in m -->

  <arg name="eye"               default="left"/>
  <arg name="dct_normalization" default="False" />
  <arg name="dct_filter_size"   default="2" />

  <!-- <node pkg="aruco_ros" type="quad" name="aruco_simple">     -->
  <node pkg="aruco_ros" type="quad" name="aruco_simple" output="screen">    
    <remap from="/camera_info" to="/camera/rgb/camera_info" />
    <remap from="/image" to="/camera/rgb/image_raw" />
    <param name="image_is_rectified" value="True"/>
    <param name="marker_size" value="$(arg markerSize)"/>
    <param name="cub_id1" value="$(arg cub_id1)"/>
    <param name="cub_id2" value="$(arg cub_id2)"/>
    <param name="cub_id3" value="$s(arg cub_id3)"/>
    <param name="dest_id" value="$(arg dest_id)"/>
    <param name="normalizeImage" value="$(arg dct_normalization)"/>
    <param name="dct_components_to_remove" value="$(arg dct_filter_size)"/>

    <param name="marker_frame" value="marker" />
    <!-- <param name="parent_name" value="camera_rgb_optical_frame"/> -->
    <param name="parent_name" value="base_link"/>
    <param name="child_name1" value="cube_1_frame" />
    <param name="child_name2" value="cube_2_frame" />
    <param name="child_name3" value="cube_3_frame" />
    <param name="child_name4" value="dest_frame" />
  </node>

  <!-- Octomap Server -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <remap from="cloud_in" to="/camera/depth_registered/points"/>
    <param name="frame_id" value="base_link"/>
    <param name="latch" value="false"/>
    <param name="resolution" value="0.025"/>
    <param name="sensor_model/max_range" value="1.0"/>
    <param name="pointcloud_max_z" value="1.0"/>
    <param name="pointcloud_min_z" value="0"/>
  </node>

  <include file="$(find ur5_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

	<!-- <node name="ur5_kinematics" pkg="ur5_kinematics_planning" type="ur5_kinematics" respawn="false"
    output="screen"> -->
    <!-- <remap from="joint_states" to="robot/joint_states"/> -->
  <!-- </node> -->

  <node pkg="tf" type="static_transform_publisher" name="ee_to_cam" args="0.020272 -0.102113 0.049138 0.375103 0.021996 0.005450 0.926706 ee_link camera_link 100"/>

</launch>

<!-- Base xyz: ( 0.020272 -0.102113 0.049138 ) rpy: ( 0.769712 0.036688 0.026624 )  0.375103 0.021996 0.005450 0.926706 ) -->

<!--   <node pkg="tf" type="static_transform_publisher" name="ee_to_cam" args="0.013477 -0.100293 0.050164 0.375415 0.020673 0.002719 0.926622 ee_link camera_link 100"/> -->